<app-navbar></app-navbar>
<div class="wrapper">
<div class="container-fluid main">
  <div class="top-bar row">
    <div class="col-10">
      Register a new user
    </div>
    </div>
  <div *ngIf="message" class="alert alert-success" role="alert">
    User Registered Check it out here <button class="btn btn-success" routerLink="/profile">Registered Users</button>
  </div>
  <form [formGroup]="addUser" (ngSubmit)="SaveData()" class="row g-2">
    <div class="col-md-6">
      <label  class="form-label">First name</label>
      <input type="text" class="form-control "   required formControlName="firstName">
    </div>
    <div class="col-md-6">
      <label class="form-label">Last name</label>
      <input type="text" class="form-control "  required formControlName="lastName">
    </div>
    <div class="col-md-5">
      <label class="form-label">Email</label>
      <input type="text" class="form-control "  required formControlName="email">
    </div>
    <div class="col-md-3">
      <label for="validationServer04" class="form-label" >State</label>
      <select class="form-select"  aria-describedby="validationServer04Feedback" required formControlName="location">
        <option selected disabled value="">Choose...</option>
        <option>India</option>
      </select>
    </div>
    <div class="col-md-4">
      <label  class="form-label">Number</label>
      <input type="text" class="form-control "   required formControlName="number">
    </div>
    <div class="col-md-3">
      <label  class="form-label">Address</label>
      <select id="addressType" class="form-select" required formControlName="addressType">
        <option disabled value="">Select an address type</option>
        <option value="home">Home Address</option>
        <option value="company">Company Address</option>
      </select>
    </div>
    <div class="col-md-2">
      <label  class="form-label">Age</label>
      <input type="text" class="form-control "   required formControlName="age">
    </div>
    <div *ngIf="getFormControl('addressType')?.value === 'home'">
    <div class="col-md-12">
      <label  class="form-label">Address 1</label>
      <input type="text" id="homeAddress" class="form-control"  required formControlName="address1">
    </div>
    <div class="col-md-12">
      <label  class="form-label">Address 2</label>
      <input type="text" id="homeAddress" class="form-control "  required formControlName="address2">
    </div>
    </div>
    <div *ngIf="getFormControl('addressType')?.value === 'company'">
    <div class="col-md-12">
      <label  class="form-label">Company Address 1</label>
      <input type="text" id="companyAddress" class="form-control "  required formControlName="companyAddress1">
    </div>
    <div class="col-md-12">
      <label  class="form-label">Company Address 2</label>
      <input type="text" id="companyAddress" class="form-control "   required formControlName="companyAddress2">
    </div>
    </div>
    <div class="col-md-12">
      <label for="hobbiesInput">Hobbies:</label>
  <input type="text" id="hobbiesInput" formControlName="hobbiesInput">
  <button type="button" (click)="addHobby()">Add Hobby</button>

  <div *ngIf="hobbies.length > 0">
    <p>Selected Hobbies:</p>
    <ul>
      <li *ngFor="let hobby of hobbies; let i = index">
        {{ hobby }} 
        <button  type="button" (click)="removeHobby(i)">Remove</button>
      </li>
    </ul>
  </div>
  <div class="col-md-12">
    <label  class="form-label">Profile Image</label>
    <input type="text"  class="form-control "  placeholder="Image(URL)" required formControlName="image">
  </div>
    </div>
    <div class="col-12">
      <button  class="btn btn-primary"  type="submit" [disabled]="isSubmitDisabled()" >Submit form</button>
    </div>
  </form>
  <div *ngIf="!isvalid" class="alert alert-warning" role="alert">
    The button will be enabled when all the details are filled properly.
  </div>
</div>
</div>