@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.first-section{
    background-color: #F7EFE5;
    padding: 5%;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    
    p{
        font-size: 2rem;

    }
    h1{
        font-style: normal;
    }

    hr{
        width: 30%;
        margin: 2% 35%;
    }
    .desc{
        font-size: 1.5rem;
        width: 70%;
        margin-left: 15%;
    }
    .btn-about{
        border: 2px solid #f0cda3;
        background-color: #f0cda3;
        color: white;
        padding: 1%;
        border-radius: 20px;
    }
}